/**
 * Body CSS
 */

 html,
 body {
   height: 100%;
 }
 
 html,
 body,
 input,
 textarea,
 button {
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
   text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
 }
 
 
 /**
  * Sidebar CSS
  */
 
 #sidebar {
   background-color: #8B008B;
   padding: 15px;
 }

 @media (min-width: 768px) {
   #sidebar {
     position: fixed;
     top: 0;
     bottom: 0;
     width: 180px;
     height: 100%;
     padding-top: 30px;
   }
 }
 
 
 /**
  * Content CSS
  */

 @media (min-width: 768px) {
   #content {
     margin-left: 180px;
   }
 }

/**
  * Naming under Sidebar
  */

 .author{
    font-size: 0.8rem;
    opacity: .5;
    color: white;
    padding-top: 1.3em;

}

div > .label--input-text{
    font-size: 16px;
    opacity: .5;
}
.questions{
  padding-top: 1em;
}

#questionsList > div{
  position: relative;
  padding: 1em 1.5em;
  margin: 2em auto;
  border: 1px solid #8B008B;
  overflow: hidden;
  color: rgb(253, 247, 247);
  background-color: rgb(199, 178, 224);
  border-width: 0 5px 5px 0;
  border-top-right-radius: 5px;
}

#form{
  padding-top: 2.2em;
}


#question-input{
  margin-bottom: 0.5rem;
}

#form > .preinput-text{
  padding-bottom: 1em;
}